.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  padding: 12px 16px;
  position: absolute;
  top: 100%;
  background-color: var(--main-white-color);
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 7px;
  z-index: 1;
}

.dropdown-content li {
  padding: 12px 0;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content li:not(:last-child) {
  border-bottom: 1px solid #9CA3AF;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content li:hover {
  color: var(--main-light-color);
}
